<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'VALORAR_APLICACION' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="full-screen-content">
  <div class="rating-section">
    <h1>{{ 'ELIGE_CALIFICACION' | translate }}</h1>
    <div class="stars-container">
      <ion-icon
        *ngFor="let star of starsArray; let index = index"
        [name]="rating > index ? 'star' : 'star-outline'"
        (click)="rate(index + 1)"
        class="star-icon"
      ></ion-icon>
    </div>
    <p class="thank-you-message">{{ 'GRACIAS_OPINION' | translate }}</p>
    <ion-button expand="full" class="submit-button" (click)="submitRating()">
      {{ 'ENVIAR_CALIFICACION' | translate }}
    </ion-button>
    <div class="squares-container">
      <div class="square square1"></div>
      <div class="square square2"></div>
      <div class="square square3"></div>
      <div class="square square4"></div>
    </div>
  </div>
  <div class="image-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsNJ2wkAVTMnzA9Tpzf9eq6_cTXlvw8PNwyw&s" alt="Imagen" class="image">
  </div>
</ion-content>

